<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic Card Dashboard example
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Card Board</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col 
        size-xs="6"
        size-sm="6"
        size-md="4"
        size-lg="3"
        size-xl="2"
        *ngFor="let item of [].constructor(5);let idx = index;">
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-subtitle>Subtitle-{{idx+1}}</ion-card-subtitle>
            <ion-card-title>Title-{{idx+1}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Content-{{idx+1}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
